body, html{
    padding: 0px;
    margin: 0px;
}

.offcanvas-60vh{
    --bs-offcanvas-height:60vh;
}

.fs-icon-4{
    font-size: calc(1.9rem + 2vw);
}

.fs-icon-5{
    font-size: calc(4rem + 1vw);
}

.fs-icon-6{
    font-size: calc(3rem + 3vw);
}

.fs-icon-7{
    font-size: calc(3.5rem + 3.5vw);
}

.hover-info-to-white{
    color:var(--bs-info);
    transition: 0.5s ease-in-out;
}
.hover-info-to-white:hover{
    color: var(--bs-white);
    transition: 0.5s ease-in-out;
}

div {
    display: block;
}